<h3>商品一覧</h3>

<table>
  <% @item.each do |item| %>
  <tbody>
    <tr>
    <td><%= item.id %>
    <%= item.name %>
    <%= item.introduction %>
    <%= item.price %>
    </td>
    </tr>
  <% end %>
</table>