<h3>登録情報</h3>

<p><%= link_to "プロフィール編集",edit_customer_registration_path %></p>

<table class="col-md-12">
   <thead>
   <tr>
    <th>氏名</th>
    <th>カナ</th>
    <th>郵便番号</th>
    <th>住所</th>
    <th>電話番号</th>
    <th>メールアドレス</th>
   </tr>
   </thead>

　<tbody>
 
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>
  <% end %>
  </tbody>
 </table>